<article id="header-menu-container">
  <mat-toolbar color="primary" id="header-menu">
    <nav>
      <ul>
        <li *ngFor="let item of menu">
          <a [routerLink]="item.url"
            *ngIf="(!item.admin && !item.unAuth)
            || (netService.getToken().length > 0 && item.admin)
            || (netService.getToken().length == 0 && item.unAuth)"
            mat-raised-button>
            {{ item.name }}
          </a>
        </li>
      </ul>
    </nav>
  </mat-toolbar>
</article>
<div id="content">
  <router-outlet></router-outlet>
</div>
