<article id="header-menu-container">
  <mat-toolbar color="primary" id="header-menu">
    <mat-toolbar-row>
      <ul>
        <ng-container *ngFor="let item of menu">
          <li *ngIf="(!item.admin && !item.unAuth)
          || (netService.getToken().length > 0 && item.admin)
          || (netService.getToken().length == 0 && item.unAuth)">
            <a [routerLink]="item.url" mat-raised-button>
              {{ item.name }}
            </a>
          </li>
        </ng-container>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
</article>
<div id="content">
  <router-outlet></router-outlet>
</div>
