<article id="article-form" @simpleFadeAnimation [style.background]="colors[color]">
  <mat-card id="article-form-block">
    <mat-card-content>
      <form [formGroup]="formItems" (ngSubmit)="onSubmit()">
        <h2>Add new article</h2>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Title"
            [formControlName]="'title'">
        </mat-form-field>
        <mat-form-field>
          <textarea
            matInput
            placeholder="Description"
            [formControlName]="'description'">
          </textarea>
        </mat-form-field>
        <!--<mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControlName]="'date'">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>-->
        <mat-checkbox [formControlName]="'parent'" (ngModelChange)="loadRelations()">Relations list</mat-checkbox>
        <br>
        <app-error-message [error]="error" *ngIf="error.length > 0"></app-error-message>
        <div id="article-form-buttons">
          <button mat-raised-button type="reset" color="warn">Clear</button>
          <button mat-raised-button type="submit" color="primary">Add article</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card id="article-form-relations" *ngIf="showParent()">
    <mat-card-header>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="search" placeholder="Search" (ngModelChange)="searching()">
        <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search='';searching()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-header>
    <mat-card-content id="relations-overflow">
      <div id="lists">
        <mat-list>
          <mat-list-item *ngFor="let item of filtered; let i = index;">
            <span [class]="getRelationListClass(i)" (click)="selectRelation(i)">{{ item.title }}</span>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
    <mat-card-subtitle>
      <p>
        Parent is <span class="parent-item">Green</span>.
        Child is <span class="child-item">Blue</span>
      </p>
    </mat-card-subtitle>
  </mat-card>
</article>
