<div id="login-form">
  <article>
    <mat-card>
        <h2>Auth form</h2>
        <form [formGroup]="formItems" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input
              matInput
              type="text"
              id="login"
              placeholder="Login"
              [formControlName]="'login'">
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="password"
              id="password"
              placeholder="Password"
              [formControlName]="'password'">
          </mat-form-field>
          <section id="login-form-errors" *ngIf="showErrors">
            <mat-toolbar class="error-item" color="warn" *ngIf="showInvalidMessage">
              <span>User not found with current login and password</span>
            </mat-toolbar>
          </section>
          <div id="login-form-buttons">
            <button type="submit" mat-raised-button color="primary">Enter</button>
          </div>
        </form>
    </mat-card>
  </article>
</div>
